.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
    color: #fff;

    h3 {
        text-align: center;
    }

    .btn {
        margin-top: 7px;
        width: 100%;
    }
}

.add-form {
    margin-top: 20px;

    input {
        margin: 2px auto;
        width: 100%;

    }

}